/* MAIN */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	min-width: 500px;
	font-family: Josefin Sans, sans-serif;
	color: #555;
}

#container {
	margin-top: 50px;
	margin-bottom: 50px;
}

#nav {
	height: 300px;
	width: 150px;
	margin-left: 50px;
	position: fixed;
}
	#photo {
		height: 100px;
		margin-bottom: 20px;
	}
		#me {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}

	#tags {}
		ul {
			margin: 0;
			list-style-type: none;
			padding: 0;
		}
			li {
				margin-bottom: 15px;
				font-size: 22px;
				text-align: center;
			}
			li span:hover {
				cursor: pointer;
				color: #900;
				font-weight: bold;
				-webkit-transition: color 300ms linear;
    			-moz-transition: color 300ms linear;
    			-o-transition: color 300ms linear;
    			-ms-transition: color 300ms linear;
    			transition: color 300ms linear;
			}
			li span.selected {
				font-weight: bold;
				color: #900;
			}

	#links {
		height: 100px;
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
		#links a {
			float: left;
			margin-left: 5px;
		}

		.linkImg {
			background: url('images/contact-icons.png');
			background-size: 120px 20px;
			background-repeat: no-repeat; 
		}

		#email { background-position: -80px; }
		#youtube { }
		#linkedin { background-position: -40px; }
		#github { background-position: 0px; }

		#email:hover { background-position: -100px; }
		#youtube:hover { }
		#linkedin:hover { background-position: -60px; }
		#github:hover { background-position: -20px; }

#projects {
	width: 80%;
}
	.col {
		width: 20%;
		height: 100%;
		background-color: transparent;
		float: left;
	}

	.tile {
		padding-top: 3%;
		background-color: #ddd;
		margin-bottom: 10px;
		border-radius: 2px;
		cursor: pointer;
	}
	.tile:hover {
		background-color: #ccc;
		-webkit-transition: background-color 1500ms linear;
    	-moz-transition: background-color 150ms linear;
    	-o-transition: background-color 150ms linear;
    	-ms-transition: background-color 1500ms linear;
    	transition: background-color 150ms linear;
	}
		.tile .title {
			text-align: center;
			font-size: 17px;
		}
		.tile .img {
			line-height: 0;
		}
		.tile img {
			width: 90%;
			margin: 3% 5% 5% 5%;
			/*border: 1px solid #ccc;*/
		}

#popup {
	height: 100px;
	width: 100px;
	background-color: #ddd;
	border-radius: 5px;
	position: fixed;
	z-index: 50;
	display: none;
}
	#popup .title {
		margin: 2% 0;
		text-align: center;
		font-size: 24px;
	}
	#popup .exit {
		position: absolute;
		top: 2%;
		right: 2%;
		font-size: 16px;
	}
		.exit:hover {
			cursor: pointer;
			font-weight: bold;
			color: #900;
		}
	#popup .imgs {
		line-height: 0;
		width: 90%;
		margin: 0 5%;
		background-color: transparent;
	}
	#popup img {
		/*border: 1px solid #ccc;*/
	}
	#popup .txt {
		width: 90%;
		padding: 20px 0 30px 0;
		margin: 0 5%;
		font-family: Open Sans, sans-serif;
	}

	#background {
		margin-top: -50px;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 49;
		background-color: black;
		opacity: 0.75;
		display: none;
		cursor: pointer;
	}

/* BREAKPOINTS */
@media only screen and (max-width:775px) { /* projects width: 750 */
	.tile .title {
		font-size: 20px;
	}
}
