img#me {
    border-radius: 50%;
}

html, body {
    height: 100%;
    margin: 0;
    min-width: 650px;
}

body {
    display: none;
}

div#main {
    position: relative;
    top: 40%;
    transform: translateY(-40%);

    width: 1000px;
    margin: 0 auto;
    align-items: top;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

h1, h2, h3 {
    margin: 0 20px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 5em;
    font-family: "Poiret One", sans-serif;
}

h2 {
    margin-top: 25px;
    font-size: 1.5em;
    font-family: "Inconsolata", sans-serif;
    font-weight: 100;
}

h3 {
    font-family: "Inconsolata", sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

.spaced {
    word-spacing: 0.2em;
}

a {
    color: #2A5DB0;
}

@media (max-width: 1100px) {
    div#main {
        position: relative;
        top: 40%;
        transform: translateY(-40%);

        width: 100%;
        text-align: center;
        display: block;
    }
}

@media (max-width: 600px) {
    body {
        min-width: 0;
    }

    h2, h3 {
        font-size: 0.75em;
    }
}
